<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inmobiliaria Granada y Costa 2015 - Contacte con nosotros.">
	<meta name="keywords" content="Granada, Pisos, Casas, Inmuebles, Alquiler, Venta, alquileres, ventas, comprar casa, comprar piso, alquilar casa, alquilar piso, piso barato, habitaciones, calefaccion, cochera, garaje, chana, zaidin, ogijares, centro, almanjayar" />
    <meta name="author" content="Jesus Gonzalez">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <title>Granada y Costa - Contacto</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/assets/css/main.css" rel="stylesheet">

	<script src="/static/assets/js/Chart.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.inmobiliariagranadaycosta.com/">Granada y C<i class="fa fa-circle"></i>sta</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.inmobiliariagranadaycosta.com/buscador">Alquiler</a></li>
            <li><a href="http://www.inmobiliariagranadaycosta.com/buscador2">Venta</a></li>
            <li><a href="http://www.inmobiliariagranadaycosta.com/contact">Contacto</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h2>Contacte con nosotros,</h2>
				<p>siempre a su servicio.</p>
				<h3>Inmobiliaria Granada y Costa SL</h3> 
				<h4>Avenida de Andalucía,9 <br> 
				18014 Granada<br> 
				Telf: 958 20 76 27</h4>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->


	<div class="container w centered">
		<div class="row centered">
			<br><br>
			<div class="col-lg-6">
				<img class="img-circle" src="/static/assets/img/pic.jpg" width="110" height="110" alt="">
				<h4>José Antonio García Álvarez</h4>
				<p>Director</p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-4">
				<img class="img-circle" src="/static/assets/img/pic2.jpg" width="110" height="110" alt="">
				<h4>Sofía García Morales</h4>
				<p>Auxiliar administrativa</p>
			</div><!-- col-lg-3 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->

<!------------------------------------------------------>
	<div class="container">
				<div class="row centered">
					<div class="col-lg-12 column">
                        <style>
                            .google-maps {
                                position: relative;
                                padding-bottom: 75%; // This is the aspect ratio
                                height: 0;
                                overflow: hidden;
                            }
                            .google-maps iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100% !important;
                                height: 100% !important;
                            }
                        </style>
                        <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3178.4765903745997!2d-3.6137930000000003!3d37.18890799999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fcfa829108f7%3A0x4fce4e2328d5344f!2sInmobiliaria+Granada+y+Costa+2007+S+L!5e0!3m2!1ses!2ses!4v1424473475536" width="550" height="350" frameborder="0" style="border:0"></iframe>
                        </div>
					</div>
				</div>
			</div>
<br>



<!-------------------------------------------------------->	
	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
		    			    <br>Copyright &copy; Granada y Costa 2015<br>
	              <a href="http://www.inmobiliariagranadaycosta.com/admin/">Acceder</a><br>
                  <a href="http://webmail.inmobiliariagranadaycosta.com/"><span class="glyphicon glyphicon-envelope"></span></a></a>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
  </body>
</html>
