<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inmobiliaria Granada y Costa 2015 - Viviendas en alquiler y venta en Granada. Portal web donde podrá buscar viviendas y/o pisos en alquiler o en venta.">
	<meta name="keywords" content="Granada, Pisos, Casas, Inmuebles, Alquiler, Venta, alquileres, ventas, comprar casa, comprar piso, alquilar casa, alquilar piso, piso barato, habitaciones, calefaccion, cochera, garaje, chana, zaidin, ogijares, centro, almanjayar" />
    <meta name="author" content="Jesus Gonzalez">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <title>Granada y Costa Inmobiliaria</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/assets/css/main.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.inmobiliariagranadaycosta.com/">Granada y C<i class="fa fa-circle"></i>sta</a> <font color ="white">Inmobiliaria Granada y Costa, sita en zona Villarejo Caleta, cerca de hospitales y juzgados, empresa familiar con gran experiencia. Ofrecemos la tranquilidad para el cliente tanto en compra, venta o alquiler que más se ajuste a sus necesidades.</font><font color="white" size=5>Telf: 958 20 76 27</font><br>
                                
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.inmobiliariagranadaycosta.com/buscador">Alquiler</a></li>
            <li><a href="http://www.inmobiliariagranadaycosta.com/buscador2">Venta</a></li>
            <li><a href="http://www.inmobiliariagranadaycosta.com/contact">Contacto</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1><font color="#00008B"><b>Granada</b> y <b>Costa</b></font></h1>
				<h2>Inmobiliaria<br></h2>
                <h3><font color="red" size="60">Telf: 958 20 76 27 </font></h3> 
           		<h3>Avenida de Andalucía,9<br>
                    18014 Granada<br>
                    <mail>info@inmobiliariagranadaycosta.com</mail><br>
 

                </h3>
    			</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->



	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
                <font color="white" size=5>Telf: 958 20 76 27</font>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
		    			    <br>Copyright &copy; Granada y Costa 2015<br>
                  <a href="/static/AVISO_LEGAL.pdf">Aviso legal</a><br>
	              <a href="http://www.inmobiliariagranadaycosta.com/admin/">Acceder</a><br>
                  <a href="http://webmail.inmobiliariagranadaycosta.com/"><span class="glyphicon glyphicon-envelope"></span></a>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
  </body>
</html>
